APP_ID="bff-service"
PORT="7000"
HOST="0.0.0.0"
CORE_ENGINE_ADDR="core-engine:7001"
KAFKA_BROKERS="broker:29092"
KAFKA_CONSUMER_GROUP="kafka-consumer-group"
KAFKA_TOPICS="post-logs"
KAFKA_TIMEOUT_MS="-1"